@import url("https://use.typekit.net/rjv3gcj.css");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
}

html {
  color: #21313f;
  height: fit-content;
  background: #F5F7FB;
}
