//Variables
$baseColor: #27939f !global;
$secondary-color: #06b6d4;
$header-height: 75px;

/* Form-Container */
.search_form {
  position: absolute;
  top: calc((0px + $header-height) + 15%);
  user-select: none;
}

/*Top Section Buttons*/
.nav-icons {
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: baseline;

  &:nth-child(0) {
    border: none;
    outline: none;
  }

  .btn-search-form {
    background-color: #FFFF;
    display: flex;
    padding: 10px;
    font-weight: 400;
    width: calc(100% / 3);
    justify-content: center;
    align-items: center;
    border-style: none;
    border-left: 3px #efefef solid;
    color: #0000007F;

    &:hover {
      color: black;

      & .nav-icon {
        color: $secondary-color;
      }
    }

    &:focus {
      font-weight: 600;
      color: $secondary-color;
    }
  }
}

.nav-icon {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.input_location-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-container {
  background-color: #F9F9F9;
  width: 100%;
  padding: 1em;
}

.input_location-container {
  display: flex;
  gap: 1rem;
  align-content: baseline;
  justify-content: space-between;
}

.form-search-input {
  font-size: 2.2em;
  background: transparent;
  border: none;
  outline: none;
  height: 2.2em;
  font-weight: lighter;
  border-bottom: 2px black solid;
  padding-bottom: 20px;

  &:hover {
    border-bottom: 2px $baseColor solid;
  }

  &:focus {
    border-bottom: 3px $baseColor solid;
  }
  .input_passengers {
    position: absolute;

    &:hover {
      cursor: pointer;
    }
  }
}

.date_departure_date {
  width: 380px;
  background: transparent;
  border: none;
  justify-self: baseline;
  align-self: end;
  outline: none;
  font-weight: lighter;
  border-bottom: 2px black solid;

  & ~ label {
    position: absolute;
    top: 7.8em;
    left: 65em;
  }

  &:hover {
    border-bottom: 2px $baseColor solid;
  }

  &:focus {
    border-bottom: 3px $baseColor solid;
  }
}
//Form Locations Label
.form-label-location {
  position: absolute;
  font-size: 14px;
  top: 9em;

  &.origin {
    left: 31.7em;
  }

  &.departure_date {
    top: 9em;
    left: 63.4em;
  }
}
.switch-locations-icon {
  color: $baseColor;
}

/* Second Row*/
.second-row-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 1em;
  padding-top: 2rem;
}

//Form Submit Button
.submit-form-button {
  border: none;
  background-color: $baseColor;
  color: #FFF;
  font-weight: 600;
  font-size: 20px;
  padding: 1em;
}