.flights-container--all {
  margin-bottom: 10em;
}

.flights-selection {
  align-self: start;
  border-bottom: 1px solid #d5d5d5;
}

.offers-page-background {
  height: 80vh;
  background: url("../assets/images/flightsoffers/TerminalBackground.png") center no-repeat;
  background-size: cover;
  display: grid;
  gap: 2em;
  grid-auto-rows: auto;
  justify-content: center;
  flex: 1;
}
.offers-page-background .container {
  top: 37em;
  position: relative;
  display: grid;
  gap: 1em;
  grid-auto-rows: auto;
  padding-bottom: 4em;
}
.offers-page-background .offer-filter-container {
  border-radius: 50px;
  display: flex;
  align-self: center;
  width: min-content;
  justify-content: space-between;
  background: transparent;
  padding-bottom: 2em;
}
.offers-page-background .offer-filter-container .offers-filter {
  border-radius: 50px;
  background: #FFFFFF;
  display: flex;
  align-items: baseline;
  padding: 0.5em;
  flex: 0.3;
}
.offers-page-background .offer-filter-container .offers-filter button {
  border: none;
}
.offers-page-background .offer-filter-container .offers-filter button:first-child {
  border: none;
}
.offers-page-background .offer-filter-container .offers-filter .filter-item {
  flex: 1;
  border-left: 1px solid #e3e3e3;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 1em;
}

.offers {
  width: 71.466vw;
  background: #FFFFFF;
  height: 200px;
}
.offers p {
  margin: 0;
}

.items {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.items .slice-day {
  font-size: 18px;
  font-weight: 400;
  color: rgba(33, 49, 63, 0.5);
}
.items .slice-time {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 20px;
}
.items .slice-time span {
  color: rgba(33, 49, 63, 0.5);
}
.items a {
  font-size: 12px;
  color: #0086ff;
  text-decoration: none;
}
.items.offer-select {
  align-items: end;
  justify-content: space-around;
  border-left: 1px dashed #dcdcdc;
  letter-spacing: 2px;
}
.items.offer-select h6 {
  font-size: 14px;
  font-weight: 700;
}
.items.flight-destination-details {
  justify-content: center;
  gap: 0.5em;
}

.flight-owner-details {
  justify-content: center;
  gap: 2em;
  border-right: 1px solid #e3e3e3;
}

#flight-duration {
  color: #334a60;
  font-size: 14px;
  margin: 0;
}

.flight-details-button {
  border-radius: 30px;
  border: 1px solid #dedede;
  padding: 0.5em;
  color: #0086ff;
}

.slice-title {
  font-size: 16px;
  font-weight: 500;
}

.slice-subtitle {
  font-size: 14px;
}

.hidden {
  display: none;
}

.button-viewDeals {
  background: #ECAA44;
  padding: 0.5em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #FFFFFF;
  transition: all 300ms linear;
}
.button-viewDeals:hover {
  color: #ECAA44;
  background: #FFFFFF;
  outline: 2px solid #ECAA44;
}

#times {
  background-color: #015AFF;
}

#more {
  background-color: #8774DD;
}

#load-more--button {
  padding: 1em;
  background-color: #FFFFFF;
  border: none;
  color: #015AFF;
  border-radius: 50px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 50px;
}

/*# sourceMappingURL=FlightsComponent.css.map */
