.input:not(input[type=checkbox]) {
  font-family: Poppins, sans-serif;
  border-radius: 5px;
  border: none;
  outline: 1px solid rgba(208, 208, 208, 0.5);
  transition: outline-color ease-in-out 200ms;

  &:hover {
    outline: 1px solid rgba(135, 195, 255, 0.5);
  }

  &::placeholder {
    font-size: 20px;
    font-weight: 300;
    color: #b2b2b2;
  }
  &:required:after {
    content: "*";
    color: indianred;
  }
}
.input[type="date"]::-webkit-calendar-picker-indicator {
  color: #b6b6b6;
}