.input:not(input[type=checkbox],
 input[type=radio]) {
  position: relative;
  font-family: Poppins, sans-serif;
  border-radius: 5px;
  border: none;
  outline: 1px solid rgba(208, 208, 208, 0.5);
  transition: outline-color ease-in-out 200ms;

  &:hover {
    transition: outline-color ease-in-out 200ms;
    outline: 1px solid rgba(135, 195, 255, 0.5);
  }

  &:focus {
    transition: outline-color ease-in-out 200ms;
    outline: 2px solid rgba(135, 195, 255, 0.5);
  }

  &::placeholder {
    font-size: 20px;
    font-weight: 300;
    color: #b2b2b2;
  }
}
.input-error {
  outline: 2px solid rgba(255, 45, 77, 0.5);

  &:focus {
    outline: 2px solid rgba(255, 45, 77, 0.5);
  }
}


.input[type=radio] {
  appearance: none;
  outline: 1px solid #dedede;
  border-radius: 50%;

  &:checked {
    outline: none;
    background-color: #3497ff;
  }

  &:focus {
    outline: 1px solid rgba(135, 195, 255, 0.5);

  }
}

select {
  position: relative;
  padding: 1em;
  border-radius: 5px;
  border: none;
  outline: 1px solid rgba(208, 208, 208, 0.5);
  transition: outline-color ease-in-out 200ms;
  font-size: 18px;
  width: fit-content;

  &:hover {
    cursor: pointer;
    outline: 1px solid rgba(135, 195, 255, 0.5);
  }
}

option {
  position: relative;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
  color: #b6b6b6;
}