//Variables
$variant-color: #4078AB;
//$base-color: #4078AB;
$base-color: #00CCFF;
//$variant-color: #5BAEBC;
//$base-color: #7AC1D3;
$secondary-color: #B5E1E4;
$secondaryVariant-color: #ECAA44;
$under-lineColor: #dcdcdc;


/* Passengers Options Menu*/
.options {
  position: absolute;
  width: 367px;
  elevation: above;
  padding: 5px;
  margin-top: 1em;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(199, 199, 199, 0.55);
  z-index: 6;
  background: #FFFFFF;

  &::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 25px;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    transform: rotate(45deg);
    z-index: -1;
  }

  .options-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 10px;

  }

  .option-text {
    text-align: start;
    font-weight: 600;
  }

  .option-display-age {
    width: 100px;
    padding-left: 10px;
    text-align: left;
  }

  .option-counter-number {
    font-weight: 400;
    font-size: 1.4em;
    width: 40px;
    padding: 0 0.3em;
    text-align: center;
  }
}

/* Passengers Counter Button*/

.option-counter-button {
  background: $base-color;
  color: #FFFFFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  z-index: 6;
  border: none;
  transition: 100ms;

  &:active {
    background: #00b4e1;
    color: #FFFFFF;
  }

  &:disabled {
    color: rgba(58, 58, 58, 0.34);
    background-color: #eeeeee;
    outline: none;
  }
}

