.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  padding: 1em;
  background-color: #FFFFFF;
  border-radius: 10px;
  outline: 1px solid #a3ceff;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
#search_icon {
  color: #a3ceff;
  margin-right: 1em;
  height: 15px;
  width: 15px;
}
.search-bar_input {
  border: none;
  outline: none;
}
#close, #search_icon, .search-bar_input{
  position: relative;
  top: 5px;
}
#close:hover {
  cursor: pointer;
}