.navigation-drawer {
  height: 100vh;
  width: 150px;
  background-color: #004c88;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: start;
  align-items: center;
  padding-top: 10em;

  a {
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFF;
  }
}