.login-container {
  font-family: Poppins, sans-serif;
  width: 100%;
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.error-text {
  width: 100%;
  background-color: #DC3545;
  padding: 0.5em;
  margin: 0;
  font-weight: 600;
  animation: wiggle ease-in-out 300ms;
}

.right-columnContainer  {
  width: calc(100% - 650px);
  background: url('../../assets/images/login/AdobeStock_239406450.jpeg') center;
  background-size: cover;
  height: 100vh;
}

.form_user-login {
  flex: 1;
  padding: 10em 3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;

  & h6 {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 1em;
    color: rgba(33, 49, 63, 0.75);
  }

  & .login-submitButton {
    width: 100%;
    padding: 1em 1.5em;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-color: #000000;
    color: white;
    transition: all ease-in-out 300ms;

    &:hover {
      background-color: #343434;
    }
    &:disabled {
      background-color: #505050;
    }
  }

  input:not(input[type=checkbox]) {
    width: calc(560px - 1.5em);
    padding: 1.2em;
    font-size: 20px;
  }
}

.form-user-details {
  display: flex;
  gap: 0.5em;
  align-self: start;
  margin-left: 12px;

}
.login-options {
  display: flex;
  gap: 2em;
  width: calc(100% / 3.5);
  justify-content: space-between;
  img {
    width: 35px;
    height: 35px;
    &:hover {
      cursor: pointer;
    }
  }
  svg {
    width: 35px;
    height: 35px;
    &:nth-child(1) {
      color: #2E79E9;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

 @keyframes wiggle {

  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}