$background-color: #F5F7FB;
$width: 71.466vw;

.fare-options_container {
  top: -19px;
  position: absolute;
  width: 100vw;
  height: 80vh;
  background: url("../../assets/images/fareoptions/FaresBackground.png") center no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;

  .flight-fares {
    position: relative;
    top: 18em;
    display: grid;
    width: $width;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);

    .fares {
      position: relative;
      display: flex;
      background: transparent;
      justify-content: start;
      gap: 1em;
      grid-column: span 3;
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 1px 1px 2em;
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #c7c7c7;
        border-radius: 50px;
        transition: all ease-in-out 400ms;

        &:hover {
          background-color: #afafaf;
        }
      }
    }

    .selected-fare_summary {
      border-radius: 10px;
      justify-self: end;
      width: 250px;
      grid-column-start: 3;
      background-color: #FFFFFF;
      box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    }
  }

}
