$background-color: #F5F7FB;
$width: 71.466vw;

.fares-containerAll {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $background-color;
}
.fare-options--container {
  position: relative;
  width: 100vw;
  height: 80vh;
  background: url("../../assets/images/fareoptions/AdobeStock_171807534.jpeg") center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .fares-container {
    position: relative;
    width: 75vw;
    border-radius: 30px;
    display: grid;
    background: transparent;
    justify-content: center;
    align-items: center;
  }
}
