$line-color: #dcdcdc;
$width: 70.833vw;

.card-skeleton-container {
  display: flex;
  flex-wrap: wrap;
  width: $width;
  background-color: #FFFFFF;
  height: 200px;
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
  box-shadow: 0 2px 5px $line-color;
  flex-grow: 1;
  gap: 2em;
}

.items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  flex: 1;

  p {
    margin: 0 5px;
  }
}

#carrier {
  align-self: center;
  gap: 0.5em;
  justify-self: end;
  align-items: center;
}

#price {
  align-items: end;
}